{% extends 'layout.twig' %}

{% block content %}
<div class="col-lg-12 text-center">
    <img src="/img/403.jpg" alt="{{ e.message }}">
    <p class="small">
        Image credit: <a href="http://www.flickr.com/photos/girliemac/6508023617/in/set-72157628409467125" target="_blank">Tomomi</a>.
    </p>
</div>
{% endblock %}
