{% extends 'layout.twig' %}

{% block content %}
<div class="col-lg-12 text-center">
    <div>
        <h1>Members</h1>
    </div>
    <img src="/img/640px-MEMBERS_ONLY_jacket_tag.jpg">
    <p class="small">
        Image credit: <a href="http://en.wikipedia.org/wiki/File:MEMBERS_ONLY_jacket_tag.jpg" target="_blank">Wikipedia</a>.
    </p>
</div>
{% endblock %}
